body {
  font-family: cursive;
  height: 100vh;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #1f2029;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
  background-size: cover;
  background-repeat: no-repeat;

  overflow-x: hidden;
}

.navbar {
  width: 59vw;
  text-decoration: none;
  height: 5vh;
  top: 0%;
  position: fixed;
}

.qform {
  margin-top: 10vh;
  margin-bottom: 5vh;
  z-index: 0;
}

.badge {
  color: black;

}

.footer {
  background-color: green;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
}

.nextbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.formCard:hover {
  background-color: #a4c5b2;
  cursor: pointer;
}

.card-text {
  font-family: "Gill Sans", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;

}

.mycard {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.questioncard{
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
}
.buyuk-yazi{
  font-size: 1.2rem;
}


.pluscard {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pluscard:hover {
  background-color: #41cece;
  cursor: pointer;
}

.myCardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-next {
  font-size: 20px;
  background-color: #007bff;
  border-color: #007bff;
}

.step-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
}

.step.done {
  background-color: #5cb85c;
}

.custom-input {
  font-size: 18px;
  border-color: #5cb5b8;
}

.custom-form-group label {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 1.2rem;
}

.custom-form {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

.leftborder {
  border: 3px solid #a4c5b2;
}

.formsoru {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.uyarımesaj {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
  text-align: center;
}

.btn-share,
.btn-trash {
  margin-left: 1rem;
}

.mybtn-group {
  margin-left: auto;
  display: flex;
  align-items: center;
}



.gorkem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 2000px; /* increase the width to 800px */
  position: absolute; /* add this line to position the container */
  left: 50%; /* add this line to center the container horizontally */
  transform: translateX(-50%); /* add this line to move the container back by half its width */
}
.tablo-yazi{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-size: 1.75rem;
}

.denemebutton{
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.denemebutton:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.yes-button, .no-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  margin: 20px;
}

.yes-button.selected {
  background-color: #2EE59D;
  color: white;
}
.no-button.selected {
  background-color: #FF0000;
  color: white;
}

/* .yes-button{
  background-color: #2EE59D;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  margin: 20px;
}

.no-button{
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  margin: 20px;
} */

.yes-button:hover{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
} 

.no-button:hover{
  background-color: #FF0000;
  box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}



